.priceInput {
  text-indent: 20px;
  margin: 10px;
  width: 75px;
}

.inputLabel {
  position: relative;
  width: 30px;
  left: 15px;
  top: 20px;
  background-color: white;
}

.close {
  display: block;
  position: relative;
  bottom: 28px;
  left: 65px;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  background: grey;
}

.submitPriceButton {
  background-color: #8c8c8c;
}

.submitPriceButton.active {
  background-color: blue;
}