.formGroup {
  margin-bottom: 15px;
}

.formGroup.active {
  padding: 15px 15px 10px 15px;
  color: #a94442;
  border: 1px solid transparent;
  background-color: #ebccd1;
  border-radius: 4px;
}

.logoStyles {
  position: absolute;
  margin-left: 150px;
  margin-top: -40px;
}
