.root {
  position: absolute;
  background-color: gray;
  border-radius: 10px;
  width: 400px;
  top: 63px;
  right: 0px;
}

.topHeader {
  height: 25px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}

.clearListButton {
  display: inline;
  cursor: pointer;
}

.clearListButton:hover {
  color: blue;
}

.bottomContainer {
  display: flex;
  justify-content: space-between;
}

.total {
  display: inline;
}

.totalSum {

}

.goToCartButton {
  width: 150px;
  height: 50px;
  background-color: blue;
  color: white;
  border-radius: 8px;
}
