.root {
  float: right;
  text-align: right;
  position: relative;
}

.root.true {
  background-color: white;
  height: 250px;
  width: 300px;
  border: 2px solid red;
  right: 0;
  position: absolute;
  transition: 0.1s all;
  transform-origin: 100% 0%;
  transform: scale(1);
}

.goToCartButton {
  background-color: red;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
}

.headerList {
  display: flex;
  flex-direction: row-reverse;
}