.root {
  display: flex;
}

.itemsBlock {
  width: 800px;
}

.massSelection {
  display: flex;
  background-color: darkgray;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
  justify-content: space-between
}

.itemBlock {
  display: flex;
  background-color: darkgray;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
}

.totalSumBlock {
  height: 300px;
  background-color: darkgray;
  margin-left: 20px;
  border-radius: 10px;
  padding: 20px;
}

.itemQuantityBlock {
  border-radius: 10px;
}

.quantityCounter {
  display: flex;
}

.quantityCounter2 {
  font-size: 20px;
}

.plusCounter {
  font-size: 20px;
  cursor: pointer;
}

.minusCounter {
  font-size: 20px;
  cursor: pointer;
}

.emptyCart {
  margin: 0 auto;
}

.cartImage {
  margin-right: 20px
}

.cartItemBlock {
  margin-right: 20px;
}

.priceBlock {
  width: 100%;
  text-align: right;
}

.itemName {
  width: 300px;
  font-size: 20px;
}

.continueButton {
  height: 50px;
  border-radius: 10px;
  background-color: blue;
  color: white;
  text-decoration: #ebccd1;
}

.continueButtonText {
  font-size: 16px;
  font-weight: 700;
  justify-content: center;
  text-align: center;
  color: white;
  padding:10px;
}